<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Python Atlanta</title>
    </head>
    <body>
        <div>
            <p>Welcome to the Python Atlanta Website</p>

            <p>This website is a collaboritive project by the members of of the Python Atlanta Meetup Group.  The source code can be found at <a href="http://github.com/pyatl/website">http://github.com/pyatl/website</a>.  If you're a PyATL member, or would just like to contribute to our website, please feel free to fork the project and send us a pull request!</p>
        </div>
    </body>
</html>
